[Desktop Entry]
Version=1.0
Type=Application
Name=LlamaLaunch
Comment=AI Local Desktop Inference Suite
Exec=python3 /app/llamaLauncher/app.py
Icon=utilities-terminal
Terminal=false
StartupNotify=true
Categories=Utility;Development;
